/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-75 {
    height: 93vh
  }
  .h-screen-35 {
    max-height: 70vh
  }
  .min-h-75 {
    min-height: 93vh
  }
  .h-screen-25 {
    height: 7vh
  }

  .w-card{
    width: 100%
  }

  .h-card{
    height: 15vh
  }
  .font-m-heavy{
    font-weight: 600
  }
  .h-card-song{
    height: 25vh
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

.bckgrnd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  filter: blur(10px) brightness(0.1);
  transform: scale(1.1);
}